.page {
  background-color: $light-blue;
  scroll-behavior: smooth;

  &__menu {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;

    // transform: translateY(-100%);
    transition: transform $transition-duration;

    &:target {
      transform: translateY(50px);
    }
  }

  &__section {
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include onDesktop {
      margin-bottom: 178px;
    }

    &:last-child {
      @include onDesktop {
        margin-bottom: 350px;
      }
    }
  }
}
