// Define common font properties
@mixin responsive-font(
  $base-size,
  $tablet-size: null,
  $desktop-size: null,
  $big-desktop-size: null
) {
  font-size: $base-size;

  @include onTablet {
    font-size: $tablet-size;
  }

  @include onDesktop {
    font-size: $desktop-size;
  }

  @include onBigDesktop {
    font-size: $big-desktop-size;
  }
}

// Mixin for hover effect
@mixin hover($_property, $_toValue) {
  transition: #{$_property} $transition-duration;
  &:hover {
    #{$_property}: $_toValue;
  }
}

// Mixins for responsive breakpoints
@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onBigDesktop {
  @media (min-width: 1444px) {
    @content;
  }
}

// Mixin for top actions layout
@mixin top-actions {
  --menu-width: 24px;

  display: grid;
  grid-template-columns: 1fr var(--menu-width);
  gap: 16px;

  &--menu {
    grid-template-columns: 1fr var(--menu-width);
  }

  @include onTablet {
    gap: 24px;
  }
  @include onDesktop {
    --menu-width: 500px;
  }
}
